doctype html
html
    head
        title jade (pug)
    body
        h1 hello Pug3
        div.container
            u;#book-list
                li:a(hre="#book-a") Book A
                li:a(hre="#book-b") Book A